.button {
  /* reset */
  border: none;

  transition: var(--tran-default);
}

.button:hover {
  cursor: pointer;
}

.primary:hover {
  background-color: var(--col-blue-hover);
}

.primary.destroy:hover {
  background-color: var(--col-red-hover);
}

.secondary:hover {
  color: var(--col-white);
  background-color: var(--col-blue-hover);
}

.secondary.destroy:hover {
  color: var(--col-white);
  background-color: var(--col-red-hover);
}

.primary {
  color: var(--col-white);
  background-color: var(--col-blue);
}

.secondary {
  color: var(--col-blue);
  background-color: var(--col-clear);
}

.primary.destroy {
  background-color: var(--col-red);
}

.secondary.destroy {
  color: var(--col-red);
}

.sm {
  border-radius: var(--rad-sm);
  padding: var(--pad-btn-sm);
}

.md {
  border-radius: var(--rad-md);
  padding: var(--pad-btn-md);
}

.lg {
  border-radius: var(--rad-lg);
  padding: var(--pad-btn-md);
}

.sm .text {
  font-weight: var(--fw-bold);
}

.md .text {
  font-weight: var(--fw-bold);
}

.lg .text {
  font-weight: var(--fw-black);
}

.text {
  font-size: var(--fs-btn);
  font-style: var(--fst-normal);
}
