.button {
  /* reset */
  border: none;

  background: var(--col-blue);
  height: var(--btn-height-large);
  min-width: var(--btn-min-width);
  border-radius: var(--rad-sm);
  transition: var(--tran-default);
}

.button:hover {
  cursor: pointer;
  background: var(--col-blue-hover);
}

.text {
  color: var(--col-white);
  font-size: var(--fs-btn);
  font-style: var(--fst-normal);
  font-weight: var(--fw-black);
}
