@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy');
@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,800;6..12,900&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  font-size: var(--fs-perc);
}

body {
  font-family: var(--ff-nunito);
  height: 100%;
  background-color: var(--col-bg);
}
